/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * by Stephan Raabe (2023) 
 * ----------------------------------------------------- 
*/

/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */

@import '/home/florian/.cache/wal/colors-waybar.css';

/* -----------------------------------------------------
 * Color Variables 
 * ----------------------------------------------------- */

@define-color bg-light @color5;
@define-color bg-dark @color11;
@define-color text-light #FFFFFF;
@define-color icon-light #FFFFFF;

/* -----------------------------------------------------
 * Base Styles 
 * ----------------------------------------------------- */

* {
    font-family: "Fira Sans Semibold", "Font Awesome 6 Free", FontAwesome,  Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.0);
    transition: background-color 0.5s;
    margin-bottom: -10px; /* Adjust this value to control the height reduction */
}

/* -----------------------------------------------------
 * Module Base Styles
 * ----------------------------------------------------- */

/* These selectors will apply to ALL modules listed */
#clock,
#backlight,
#pulseaudio,
#network,
#bluetooth,
#battery,
#custom-appmenu,
#window,
#workspaces,
#custom-exit
 {
    font-size: 16px;
    border-radius: 15px;
    padding: 3px 10px 3px 10px;
    margin: 10px 15px 5px 0px; /* Changed bottom margin to 5px */
}

/* Icon styles */
#custom-exit {
    color: @icon-light;
    font-size: 18px;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
    background: @bg-light;
    margin: 5px 18px 5px 5px;
    padding: 0px 2px;
    border-radius: 5px;
    font-weight: bold;
    opacity: 0.8;
    color: @text-light;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    color: @text-light;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active,
#workspaces button:hover {
    background: @bg-dark;
    min-width: 40px;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    background: @bg-light;
    margin: 10px 15px 5px 0px; /* Changed bottom margin to 5px */
    border-radius: 12px;
    color: @text-light;
    font-weight: normal;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-hyprshade,
#custom-hypridle {
    margin-right: 16px;
}

#custom-hypridle.active {
    color: @icon-light;
}

#custom-hypridle.notactive {
    color: #dc2f2f;
}

#custom-ml4w-welcome {
    margin-right: 12px;
    background: url("../assets/ml4w-icon.svg") center/20px 20px no-repeat;
    padding-right: 24px;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
    background-color: @bg-dark;
    color: @text-light;
    margin: 10px 15px 5px 10px; /* Changed bottom margin to 5px */
}

/* -----------------------------------------------------
 * Modules (Clock, Backlight, Pulseaudio, Network, etc.)
 * ----------------------------------------------------- */

#backlight,
#pulseaudio,
#network,
#bluetooth,
#battery {
    background-color: @bg-light;
    color: @text-light;
}

#clock {
    background-color: @bg-dark;
    margin-right: 10;
}

#custom-exit {
    margin: 0px 16px 0px 0px;
    padding: 0;
}

#pulseaudio.muted {
    background-color: @bg-dark;
}

#network.ethernet,
#network.wifi {
    /* Inherits from #network */
}

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
    /* Inherits from #bluetooth */
}

#bluetooth.off {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

#battery.charging,
#battery.plugged {
    /* Inherits from #battery */
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    animation: blink 0.5s linear infinite alternate;
}

@keyframes blink {
    to {
        background-color: @bg-light;
    }
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}
